html, body{
    height:100%;
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
}

body {
    overflow-y: scroll;
}

.basePage {
    width: 96%;
    min-height: 96%;
    height: auto !important;
    position: fixed;
    top:2%;
    left: 2%;
    border-radius: 8px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background: radial-gradient(#ffffff, #A5DBE5);
}

h1 {
    text-align: center;
}

.container {
    width: 60%;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-height: 550px;
    gap: 8px;
}

#users {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.titles {
    border-bottom: 1px solid grey;
    height: 70px;
}

.userSection {
    background-color: #F5F5F5;
    padding: 10px auto;
    height: 70px;
}

.user {
    flex: 2 2 0%;
}

.data {
    flex: 5 1 0%;
}

.actions {
    flex: 1 2 0%;
    justify-content: space-between;
}

.user, .data h3, p{
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}

.ReactModalPortal > div{
    opacity: 0;
}
  
.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}
  
.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}
  
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}
  
.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    height: 620px;
    max-width: 500px;
    align-items: center;
    height: 40%;
    width: 50%;
    outline: none;
    padding: 20px;
}

.modalContent h2 {
    text-align: center;
    margin-top: 0;
}

.submit-button {
    text-align: center;   
}

.submit-button input, #add-button button {
    background-color: dodgerblue;
    border: rgb(165, 165, 165) solid 1px;
    font-size: 16px;
    margin: 20px auto;
    color: white;
    height: 30px;
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
}

#add-button button {
    margin: 30px auto;
    font-size: 20px;
    height: 45px;
    width: 20%;
    border-radius: 8px;
}

#name, #lat, #lon {
    border: rgb(194, 194, 194) solid 1px;
    border-radius: 3px;
    height: 25px;
    width: 90%;
}

#add-button {
    text-align: center;
}

input[type=text] {
    font-size: 14px;
    padding: 12px 8px;
    box-sizing: border-box;
}

.submit-button input:hover,  #add-button button:hover{
    background-color: rgb(33, 111, 189);
}

#users {
    overflow-y: auto;
}